APP_NAME=GameZone API
APP_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=gamezone

JWT_SECRET=CAMBIA_ESTA_CLAVE_EN_TU_ENV_REAL
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

FRONTEND_URL=http://localhost:5173

STRIPE_PUBLIC_KEY=pk_test_51UEYFd1OUQ0JpNyVhYEbBCri9stJDbOvs60y6MPTV6tGrZVia0yTlMQI4ioQX1Sy2XurFcXDd30EGnBV5yCEGk9m00agkvG0Cv
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=whsec_REEMPLAZAR
STRIPE_CURRENCY=cop
